.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__error {
    margin: 0 0 16px 0;
  }
}
